body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }

 #form {
  display:block;
  justify-content: center;
  margin-left:10px; 
 }

 .btn-primary {
  background-color: #198754;
  border-color: #198754;
 }

 #due-date-label {
  margin-left: 180px;
 }

 #due-date {
  margin-left: 60px;
 }